.pagination{
  font-size: 1.4rem;
  text-align: center;
  vertical-align: middle;
  &__desc{
    display: inline-block;
    font-weight: 300;
    margin-right: .5rem;
  }
  &__right-arrow{
    display: inline-block;
  }
  &__left-arrow{
    display: inline-block;
  }
  &__list{
    display: inline-block;
  }
  &__item{
    display: inline-block;
  }
  &__link{
    text-decoration: none;
    color: $dark-gray-color;
    font-weight: 700;
    font-size: 1.4rem;
    padding: .5rem 1rem;

    border-radius: .5rem;
  }



  &__link--active{
    background-color: $primary-color;
    color: $whiter-color;
  }

  &__arrow{
    padding: 1rem;
  }
  &__arrow-disabled{
    opacity: .3;
  }

}