.prices {
  margin-bottom: 6rem;

  &__list {
    width: 100%;
    font-size: 0;
  }

  &__item {
    font-size: 1.6rem;
    display: inline-block;
    width: 33.33333%;
    text-align: center;
    padding: 4rem;
  }

  &__item--border {
    border: 1px solid $light-gray-color;
    border-radius: .5rem;
  }

  &__image {
    margin-bottom: 3rem;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    background-color: $primary-color;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;

    &--flower {
      background-image: url("../img/flower.png");
    }

    &--star {
      background-image: url("../img/mark-as-favorite-star.png");
    }

    &--palette {
      background-image: url("../img/painter-palette.png");
    }
  }


  &__tour-heading {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    letter-spacing: .24rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__desc {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
  }

  &__benefits {
    margin-bottom: 2rem;
  }

  &__benefits > li {
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: .9rem;
    &::before {
      vertical-align: middle;
      margin-right: 2.5rem;
      display: inline-block;
      content: '';
      height: .3rem;
      width: .3rem;
      background-color: #221f1f;
      border-radius: 50%;
    }
  }

  &__cost {
    font-size: 5.3rem;
  }

  &__cost span {
    font-size: 3rem;
  }

}