*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  box-sizing: inherit;
}

ul > li{
  list-style: none;
}

.container{
  max-width: 106rem;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}

.container > *{
  font-size: 1.6rem;
}