body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: $dark-gray-color;
  -webkit-font-smoothing: antialiased;
}
a{
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
}
.section-heading{
  font-size: 4.9rem;
  margin-bottom: 3rem;
}