.header{
  background-color: $primary-color;
  height: 7.6rem;
  margin-bottom: 1.3rem;
}

.logo{
  position: absolute;
  top: 2rem;
  left: 0;
}

.contacts{
  position: absolute;
  top: 2rem;
  right: 0;
  text-align: right;
  font-style: normal;
  &__phone,
  &__phone:visited{
    font-size: 2.1rem;
    font-weight: 700;
    text-decoration: none;
    color: $whiter-color;

  }
  &__scheduling,
  &__scheduling:visited{
    display: block;
    font-size: 1.4rem;
    color: $whiter-color;
    opacity: .7;
  }
  &__popup{
    display: none;
  }
}